@import "tailwindcss";

:root{
    --bg-color:#F0F0F0;
    --bg-color-header:#29208A;
    --color-green:#38940D;
    --color-red:#C63E3E;
    --color-gray:#5F6368;
    --color-text:#343A40;
    --font-family:Noto Kufi Arabic;
}

body {
    font-family: "Noto Kufi Arabic Variable";
}
*{
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;

}
.filter-items{
    color: #000000;
    font-family: 'Noto Kufi Arabic';
    font-size: 17px;
    line-height: 32px;
}
.filter-items>input[type="checkbox" ]{
    margin-left: 12px;
}
.greenColor{
    background-color: var(--color-green);
}
.redColor{
    background-color: var(--color-red);
}
.blueColor{
    background-color: var(--bg-color-header);
}
.blackColor{
    background-color: var(--color-gray);
}
